
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plane View | Welcome</title>

<!--     <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
    <link rel="stylesheet" href="/foundation-icons/foundation-icons.css" /> -->

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet"> 
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/lightbox.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">

    <!-- <script type="text/javascript" src="/javascripts/vendor/modernizr.js"></script> -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
   <link rel="shortcut icon" href="images/favicon.ico">

  </head>
 <body>
         <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/img/2.jpeg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Welcome to <span>Plane View</span></h1>
            <p class="animated fadeInRightBig">BE SEATED BESIDE PEOPLE WHO SHARE QUALITIES THAT ARE SIMILAR TO YOURS</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="login.html">Rate Your Experience</a>
          </div>
        </div>
    </div>
    </div><!--/#home-slider-->

  </header><!--/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>WHAT’S THE IDEA?</h2>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <img src = "assets/ico/friends.png" height="50" width="50">
            </div>
            <div class="service-info">
              <h3>BETTER EXPERIENCE</h3>
              <p>Our system gives you the opportunity to be seated next to a person who you share qualities with.</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <img src = "assets/ico/seat.png" height="50" width="50">
            </div>
            <div class="service-info">
              <h3>BETTER SEATING</h3>
              <p>Our smart algorithim will recommend a specific seat for you, according to your preferences.</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-star"></i>
            </div>
            <div class="service-info">
              <h3>RATING SYSTEM</h3>
              <p>After your flight, we would like you to to rate your experience, so we can provide a better experience in the futhure.</p>
            </div>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="text-center col-sm-8 col-sm-offset-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <p id = "idea">If you like and agree on such creative concept, pleace click on the continue button, which will take you to the next page that asks about your booking reference, and your prefrences.</p>
      <a href="registration.html" class="btn btn-primary btn-lg btn-block"> Continue </a>
    </div>  
  </div> 
    </div>
  </section><!--/#services-->


  
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
<!--          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>-->
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

<!--   <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="/javascripts/landing_page.js"></script> -->

  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/wow.min.js"></script>
  <script type="text/javascript" src="/assets/js/mousescroll.js"></script>
  <script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
  <script type="text/javascript" src="/assets/js/lightbox.min.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>

<!--     <script>
      $(document).foundation();
    </script> -->
  </body>
</html>
